body {
    --color-primary: hsl(200, 100%, 50%);
    --color-primary-dark: hsl(230);
    --color-secondary: hsl(300);
    --color-error: hsl(0, 100%, 50%);
    --color-success: hsl(147, 50%, 47%);
    --border-radius: 4px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 18px;
    background: hsl(330, 48%, 72%);
}